@welab:registry=https://nexus-repo.prod-ss.welabts.net/repository/npm-hosted/
registry=https://registry.npmjs.org
always-auth = true
//nexus-repo.prod-ss.welabts.net/repository/npm-hosted/:_authToken=NpmToken.09430673-6f87-3bc0-bd78-85caeaa6f435
//nexus-repo-proxy.prod-ss.welabts.net/repository/npm/:_auth = b3Vyc2t5LWRldjpncm9oM3QyOQ==
@welabcn:registry=http://localhost:4873